@charset "UTF-8";
body {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
}
nav .header .nav-container {
  display: flex;
  justify-content: flex-end;
  background-color: #ff6f6f;
}
nav .header .nav-items {
  color: white;
  list-style: none;
  padding: 0.2em 0.5em 0.2em 0.5em;
  font-size: 0.8em;
}
nav .header .nav-items:hover {
  background-color: white;
  color: #ff6f6f;
  transition: all 0.4s;
}
nav .Group {
  display: flex;
  justify-content: space-between;
  margin: 3% 5% 3% 5%;
}
nav .Group .logo {
  text-decoration: none;
  color: #ff6f6f;
  font-size: 2em;
  font-weight: bold;
}
nav .Group .search-area {
  display: flex;
  align-items: center;
}
nav .Group .search-area .search-box {
  display: flex;
  height: 40px;
}
nav .Group .search-area .search-box input[type=text] {
  border: 2px solid #ff6f6f;
  height: 100%;
  width: 49vw !important;
}
nav .Group .search-area .search-box button {
  background-color: #ff6f6f;
  border: none;
  height: 100%;
  width: 5vw !important;
}
nav .Group .search-area .search-box button i {
  color: #ffffff;
}
nav .bottom .nav-container {
  padding: 0;
  margin: 0;
  display: flex;
  border-bottom: 2px solid #ff6f6f;
}
nav .bottom .nav-container .nav-items {
  text-decoration: none;
  list-style: none;
  padding: 0.5em 1em 0.5em 1em;
  color: #ff6f6f;
  font-weight: bold;
  transition: all 0.4s;
}
nav .bottom .nav-container .nav-items:hover {
  background-color: #ff6f6f;
  color: white;
}

.Quest_View .Title {
  font-size: 1.3em;
  font-weight: bold;
}
.Quest_View .bookbox {
  margin-top: 1em;
  margin-bottom: 1.5em;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 1.5em;
}
.Quest_View .bookbox .AREA_Book {
  display: flex;
}
.Quest_View .bookbox .AREA_Book .BookGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.Quest_View .bookbox .AREA_Book .BookGroup p {
  margin: 0;
}
.Quest_View .bookbox .AREA_Book .BookGroup .bookname {
  padding: 1.3em 0 0.5em 0;
  font-size: 0.9em;
  width: 9vw;
  display: block;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Quest_View .bookbox .AREA_Book .BookGroup .bookauthor, .Quest_View .bookbox .AREA_Book .BookGroup .bookpublisher {
  font-size: 0.75em;
  color: #979797;
  width: 9vw;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Quest_View .bookbox .AREA_Book .BookGroup img {
  width: 9vw;
}
.Quest_View .bookbox .AREA_Book .ActionButton {
  display: flex;
  align-items: center;
}
.Quest_View .bookbox .AREA_Book .ActionButton i {
  font-size: 2em;
  padding: 0.3em;
  background: #db5d5d;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}
.Quest_View .bookbox .AREA_Book .ActionButton i:hover {
  background: #8c3c3c;
}
.Quest_View .bookbox .AREA_Book .ActionButton i:active {
  background: #562424;
}
.Quest_View .ReviewOfMonth {
  padding-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 1.5em;
}
.Quest_View .ReviewOfMonth .AREA_Review {
  width: 100%;
  height: 14em;
  display: flex;
  overflow-y: auto;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review {
  margin-top: 1em;
  margin: 1% 0.5%;
  flex-shrink: 0;
  height: 200px;
  display: flex;
  max-width: 450px;
  box-shadow: rgba(67, 71, 85, 0.5411764706) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border-radius: 5px;
  overflow: hidden;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .BookCover {
  width: 130px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%);
          mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 90%);
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .INFOGRUOP {
  padding: 0.5em;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .INFOGRUOP .UserInfo {
  display: flex;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .INFOGRUOP .UserInfo img {
  box-shadow: rgba(9, 30, 66, 0.6196078431) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .INFOGRUOP .UserInfo .Name {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 1em;
  margin-right: 1em;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .INFOGRUOP .One_Article {
  padding-top: 0.5em;
  width: 300px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 1.2em;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .INFOGRUOP .Full_Article {
  padding-top: 0.5em;
  font-size: 0.9em;
  line-height: 1.6em;
  height: 100px;
  overflow: hidden;
  position: relative;
}
.Quest_View .ReviewOfMonth .AREA_Review .Review .INFOGRUOP .Full_Article::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1.5em;
  width: 70%;
  background: linear-gradient(90deg, transparent, white);
}

.Library_View .UserInfo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3% 0%;
}
.Library_View .UserInfo img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
.Library_View .UserInfo .UserGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2em;
}
.Library_View .UserInfo .UserGroup .UserName {
  font-size: 2em;
  font-weight: bold;
}
.Library_View .UserInfo .UserGroup .Introduction {
  font-size: 1.2em;
}
.Library_View .WrittedReview {
  border-top: 2px solid #ff6f6f;
  display: flex;
}
.Library_View .WrittedReview .BookGruop {
  margin: 2%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  transition: all 0.3s;
}
.Library_View .WrittedReview .BookGruop:hover {
  background: #eeeeee;
}
.Library_View .WrittedReview .BookGruop img {
  width: 10vw;
}
.Library_View .WrittedReview .BookGruop .BookTitle {
  padding: 1.3em 0 0.5em 0;
  font-size: 0.9em;
  width: 10vw;
  display: block;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Library_View .WrittedReview .BookGruop .BookAuthor, .Library_View .WrittedReview .BookGruop .BookPublisher {
  font-size: 0.75em;
  color: #979797;
  width: 9vw;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Book_Info .BookHeader {
  justify-content: center;
  display: flex;
  margin: 3em 0;
}
.Book_Info .BookHeader .BookImage {
  width: 200px;
}
.Book_Info .BookHeader ._Info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2em;
}
.Book_Info .BookHeader ._Info ._H div:not(._Title) {
  color: #696969;
}
.Book_Info .BookHeader ._Info ._H ._Title {
  font-size: 2em;
  font-weight: bold;
  max-width: 800px;
}
.Book_Info .BookHeader ._Info ._B {
  display: flex;
}
.Book_Info .BookHeader ._Info ._B div {
  margin: 0 1.5%;
}
.Book_Info .UserReview {
  border: 1px solid black;
  padding: 1em;
}
.Book_Info .UserReview ._Name {
  font-size: 1.1em;
}
.Book_Info .UserReview ._One {
  margin: 1em 0;
  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
}
.Book_Info .UserReview ._Full {
  border-top: 1px solid black;
  padding-top: 2em;
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  /* 타블렛 */
}
@media screen and (min-width: 992px) {
  /* 데스크탑 */
}
@media screen and (min-width: 1200px) {
  /* 큰 데스크탑 */
}/*# sourceMappingURL=NewStyle.css.map */