$BASIC_COLOR: #ff6f6f;
$DARK_BASIC_COLOR: #e65e5e;

@mixin CircleImage($Height, $Width) {
  width: $Height;
  height: $Width;
  border-radius: 50%;
}

nav {
  display: flex;
  flex-direction: column;
  .header {
    background-color: $BASIC_COLOR;
    .nav-container{
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;

    }
    .nav-items{
      color: white;
      list-style: none;
      padding: 0.2em 0.5em 0.2em 0.5em;
      font-size: 0.8em;
      &:hover {
        background-color: white;
        color: $BASIC_COLOR;
        transition: all 0.4s;
      }
    }
  }
  .Group {
    max-width: 1200px;
    margin: 2.5% auto;
    display: flex;
    justify-content: space-between;
    .logo {
      text-decoration: none;
      color: $BASIC_COLOR;
      font-size: 2em;
      font-weight: bold;
      width: 22vw;
    }
    .search-area {
      display: flex;
      align-items: center;
      .search-box {
        display: flex;
        height: 40px;
        input[type=text] {
          border: 2px solid $BASIC_COLOR;
          height: 100%;
          width: 49vw!important;
        }
        button {
          background-color: $BASIC_COLOR;
          border: none;
          height: 100%;
          width: 5vw!important;
          i {
            color: #ffffff;
          }
        }
      }
    }
  }
  .bottom{
    border-bottom: 2px solid $BASIC_COLOR;
    .nav-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0;
      display: flex;
      .nav-items {
        text-decoration: none;
        list-style: none;
        padding: 0.5em 1em 0.5em 1em;
        color: $BASIC_COLOR;
        font-weight: bold;
        transition: all 0.4s;
        &:hover {
          background-color: $BASIC_COLOR;
          color: white;
        }
      }
    }
  }
}

.nav_overlay {
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000056;
  .layout {
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    p {
      color: black;
      margin: 0px;
    }
    ._Title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .LOGO {
        color: $BASIC_COLOR;
        font-size: 1.5em;
        font-weight: bold;
        width: 22vw;
        margin: 0.3em 0.5em 0.3em 0.5em;
      }
      i {
        padding-right: 0.2em;
        font-size: 2.5em;
        transition: all 0.3s;
        color: #808080;
          &:hover {
            color: #2c2c2c;
          }
          &:active {
            color: #2c2c2c;
          }
      }
    }
    hr {
      margin: 0.3em;
    }
    .Article {
      margin: 1em 10em 1em 1em;
      font-size: 1.2em;
      font-weight: 400;
    }
  }
}

.ShowArea{
  max-width: 1200px;
  margin: 0 auto;
}

.Quest_View {
  .Title {
    font-size: 1.3em;
    font-weight: bold;
  }
  .bookbox {
    margin-top: 1em;
    margin-bottom: 1.5em;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 1.5em;
    .AREA_Book {
      display: flex;
      .BookGroup{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        p {
          margin: 0;
        }
        .bookname {
          padding: 1.3em 0 0.5em 0;
          font-size: 0.9em;
          width: 9vw;
          display: block;
          white-space: nowrap;
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .bookauthor,.bookpublisher {
          font-size: 0.75em;
          color: #979797;
          width: 9vw;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        img {
          width: 9vw;
        }
      }
      .ActionButton {
        display: flex;
        align-items: center;
        i {
          font-size: 2em;
          padding: 0.3em;
          background: #db5d5d;
          border-radius: 5px;
          color: white;
          transition: all 0.3s;
          &:hover {
            background: #8c3c3c;
          }
          &:active {
            background: #562424;
          }
        }
      }
    }
  }
  .ReviewOfMonth{
    padding-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    padding: 1.5em;
    .AREA_Review {
      width: 100%;
      height: 14em;
      display: flex;
      overflow-y: auto;
      .Review {
        margin-top: 1em;
        margin: 1% 0.5%;
        flex-shrink: 0;
        height: 200px;
        display: flex;
        max-width: 450px;
        // border: 1px solid rgb(215, 215, 215); //<<<<<
        box-shadow: #4347558a 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        border-radius: 5px;
        overflow: hidden;
        .BookCover{
          width: 130px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          mask-image: linear-gradient(to right, rgb(0, 0, 0,1)0%,rgba(0,0,0,0) 90%);
        }
        .INFOGRUOP {
          padding: 0.5em;
          .UserInfo {
            display: flex;
            img {
              box-shadow: #091e429e 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
              @include CircleImage(40px,40px);
            }
            .Name {
              display: flex;
              align-items: center;
              font-weight: bold;
              padding-left: 1em;
              margin-right: 1em;
            }
          }
          .One_Article {
            padding-top: 0.5em;
            width: 300px;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            font-size: 1.2em;
          }
          .Full_Article {
            padding-top: 0.5em;
            font-size: 0.9em;
            line-height: 1.6em;
            height: 100px;
            overflow: hidden;
            position:relative;
            &::after {
              content: '';
              position: absolute;
              bottom: 0;
              right: 0;
              height: 1.5em;
              width: 70%;
              background: linear-gradient(
                90deg, transparent, white
              );
            }
          }
        }
      }
    }
  }
}
.Library_View{
  .UserInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3% 0%;
    img{
      @include CircleImage(10vw,10vw);
    }
    .UserGroup{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 2em;
      .UserName {
        font-size: 2em;
        font-weight: bold;
      }
      .Introduction {
        font-size: 1.2em;
      }
    }
  }
  .WrittedReview {
    border-top: 2px solid $BASIC_COLOR;
    display: flex;
    .BookGruop {
      margin: 2%;
      padding: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 5px;
      transition: all 0.3s;
      &:hover {
        background: #eeeeee;
      }
      img {
        width: 10vw;
      }
      .BookTitle {
        padding: 1.3em 0 0.5em 0;
        font-size: 0.9em;
        width: 10vw;
        display: block;
        white-space: nowrap;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .BookAuthor,.BookPublisher {
        font-size: 0.75em;
        color: #979797;
        width: 9vw;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
.ReviewDetail {
  .BookHeader {
    justify-content: center;
    display: flex;
    margin: 3em 0;
    .BookImage {
      width: 200px;
    }
    ._Info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 2em;
      ._H{
        div:not(._Title) {
          color: #696969;
        }
        ._Title {
          font-size: 2em;
          font-weight: bold;
          max-width: 800px;
        }
      }
      ._B{
        display: flex;
        div{
          margin: 0 1.5%;
        }
      }
    }
  }
  .UserReview {
    border: 2px solid $DARK_BASIC_COLOR;
    border-radius: 5px;
    padding: 1em;
    ._Name {
      font-weight: bold;
      font-size: 1.1em;
    }
    ._One {
      margin: 1em 0;
      text-align: center;
      font-size: 1.7em;
      font-weight: bold;
    }
    ._Full {
      border-top: 2px solid $DARK_BASIC_COLOR;
      padding-top: 2em;
      font-size: 1.3em;
    }
  }
  .PurshaeView {
    margin-top: 1.5em;
    border: 2px solid $DARK_BASIC_COLOR;
    border-radius: 5px;
    padding: 1em;
    .Title {
      font-size: 1.5em;
      font-weight: bold;
    }
    .ShowAlert {
      height: 7em;
      margin-top: 1em;
      background-color: #dfdfdf;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
    }
  }
  .WriteReview {
    margin-top: 1.5em;
    border: 2px solid $DARK_BASIC_COLOR;
    border-radius: 5px;
    padding: 1em;
    .Title {
      font-size: 1.5em;
      font-weight: bold;
    }
    .ShowAlert {
      height: 4em;
      margin-top: 1em;
      background-color: #dfdfdf;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
    }
  }
}
.Book_Info {
  .BookHeader {
    justify-content: center;
    display: flex;
    margin: 3em 0;
    .BookImage {
      width: 200px;
    }
    ._Info{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 2em;
      ._H{
        div:not(._Title) {
          color: #696969;
        }
        ._Title {
          font-size: 2em;
          font-weight: bold;
          max-width: 800px;
        }
      }
      ._B{
        display: flex;
        justify-content: space-between;
        ._L {
          display: flex;
          span {
            margin-right: 10px;
          }
        }
        .WriteReview {
          border: none;
          border-radius: 25px;
          background-color: $BASIC_COLOR;
          color: white;
          padding: 0.5em 2em 0.5em 2em;
          transition: all 0.3s;
          &:hover{
            background-color: #c44f4f;
          }
          &:active{
            background-color: #712c2c;
          }  
        }
      }
    }
  }
}

@media screen and (min-width:576px) {
}

@media screen and (min-width:768px) {
/* 타블렛 */
}
@media screen and (min-width:992px) {
/* 데스크탑 */
}

@media screen and (min-width:1200px) {
/* 큰 데스크탑 */
}