{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="Quest_View">
    <div class="bookbox">
        <div class="Banner"></div>
        <div class="BookOfMonth">
            <div class="Title">이달의 핫한 책</div>
            <div class="AREA_Book">
                <div class="LeftActionButton ActionButton">
                    <i class="bi bi-arrow-bar-left"></i>
                </div>
                {% for X in bookGrouping %}
                    {% for Y in X %}
                    <div class="BookGroup" id='B{{forloop.counter}}'>
                        {% for Z in Y %}
                            <div class="BookInfo">
                                <img src="{{Z.img_url}}">
                                <p class="bookname">{{Z.title}}</p>
                                <p class="bookauthor">{{Z.author}}</p>
                                <p class="bookpublisher">{{Z.publisher}}</p>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                {% endfor %}
                <div class="RigthActionButton ActionButton">
                    <i class="bi bi-arrow-bar-right"></i>
                </div>
            </div>
        </div>
    </div>
    <script>
        var dump = document.getElementsByClassName('BookGroup');
        var booklist = []
        for (var i = 1, n = dump.length+1; i < n; ++i) {
            if( i >= 2) {
                document.getElementById(`B${[i]}`).style.display = 'none';
            }
            booklist.push(`B${[i]}`);
        }
    </script>
    <div class="ReviewOfMonth">
        <div class="Title">따근따끈한 새로운 리뷰</div>
        <div class="AREA_Review">
            {% for Review in review_user_profile_list %}
                <div class="Review" onclick="location.href='/review/{{Review.review.review_id}}/'" style="cursor:hand">
                    <img class="BookCover" src="{{Review.book_img.img_url}}">
                    <div class="INFOGRUOP">
                        <div class="UserInfo">
                            <div class="Profile"><img src="{{Review.profile.profile_img.url}}"></div>
                            <div class="Name">{{Review.user.nickname}}</div>
                        </div>
                        <div class="One_Article">{{Review.review.title}}</div>
                        <div class="Full_Article">{{Review.review.content}}</div>
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}