{% extends 'base.html' %}
{% load static %}
{% block css %}
<link href="{% static 'css/style1.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="Library_View">
    <div class="UserInfo">
        <img src="{{ profile.profile_img.url }}">
        <div class="UserGroup">
            <div class="UserName">{{ user.nickname }}</div>
            <div class="Introduction">{{ profile.introduction }}</div>
        </div>
    </div>
    <div class="WrittedReview">
        {% for Detail in review_book_list %}
        <div class="BookGruop" onclick="location.href='/review/{{Detail.review.review_id}}/'" style="cursor:hand">
            <img class="justify-content-center" src="{{Detail.book.img_url}}">
            <div class="BookTitle">{{Detail.book.title}}</div>
            <div class="BookAuthor">{{Detail.book.author}}</div>
            <div class="BookPublisher">{{Detail.book.publisher}}</div>
            
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}