<nav>
    <div class="header">
        <ul class="nav-container">
            <li class="nav-items">로그인</li>
            <li class="nav-items">회원가입</li>
            <li class="nav-items">마이페이지</li>
        </ul>
    </div>
    <div class="Group">
        <a class="logo" href="/">TASTORY</a>
        <div class="search-area">
            <div class="search-box">
                <input type="text">
                <button type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <ul class="nav-container">
            <li class="nav-items">탐색</li>
            <li class="nav-items">내 서제</li>
            <li class="nav-items">읽고 싶은 책</li>
        </ul>
    </div>
</nav>
<div class="nav_overlay">
    <div class="layout">
        <div class="_Title">
            <p class="LOGO">Opps :(</p>
            <i class="bi bi-x"></i>
        </div>
        <hr>
        <p class="Article">읽고 싶은 책 기능은 아직 지원하지 않아요.</p>
    </div>
</div>